script(src='/javascripts/dahlia.js')
div
  h1= title
  

  ul.thumbnails
    li
      canvas#imageCanvas(width=500,height=500)
    li
      div#chart(width=360,height=360)
  ul#dahliaThumbs.thumbnails