photoId = "{{photoId}}"
photoUrl = "{{photoUrl}}"
script(src='/javascripts/dahlia.js')
div
  h1= title
  

  ul.thumbnails
    li.thumbnail
      div#chart(width=360,height=360)
  ul#photoGallery.thumbnails
    li#photo_thumb_template.thumbnail(style='display: none')
      a(id='thumb_' + photoId)
        img(src=photoUrl)
        
  div#dahliaModal.modal.fade
    canvas#imageCanvas(width=500,height=500)