photoId = "{{photoId}}"
photoUrl = "{{photoUrl}}"
script(src='/javascripts/dahlia.js')
div
  
  div.row
    span.span9(style='width:740px')
      ul.thumbnails
        li.thumbnail
          canvas#allDahliasChart(width=720,height=(360*10)+20)
    span
      h1#dahliaTitle
      = title
      p#description The genus Dahlia is endemic to Mexico and Central America.  Due to some interesting genetic traits, cultivated varieties can be extremely variable.  Popular in cultivation, tens of thousands of named cultivars exist, with flowers ranging from a few to twelve inches across, and plant size ranging from six inches to over twelve feet tall.  Dahlia flowers come in ALMOST every hue.
  ul#photoGallery.thumbnails
    li#photo_thumb_template.thumbnail(style='display: none')
      a(id='thumb_' + photoId)
        img(src=photoUrl)
        
  div#colorModal.modal.fade
    canvas#imageCanvas(width=500,height=500)
    canvas#smallChart(width=360,height=(360*10)+20)
    a#prevNav.carousel-control.left(href='#myCarousel',data-slide='prev') &lsaquo;
    a#nextNav.carousel-control.right(href='#myCarousel',data-slide='next') &rsaquo;