!!!
html
  head
    title= title  
    link(rel="stylesheet", type="text/css", href="/stylesheets/style.css")  
    link(rel="stylesheet/less", href="/stylesheets/bootstrap/bootstrap.less")
    script(src="/javascripts/jquery-1.7.1.js")
    script(src="/javascripts/less-1.2.1.min.js")
    script(src="/javascripts/chroma.min.js")
    script(src="/javascripts/mbostock-d3-7d6080d/d3.js")
    script(src="/javascripts/mbostock-d3-7d6080d/d3.layout.js")
  body!= body