#weekGalleries {
  width:18720px;
}

#weekGalleries ul.thumbnails {
  float:left;
  width:360px;
}

#weekGalleries ul.thumbnails li.thumbnail {
  margin: 0 0 8px 10px;
}

#weekGalleries ul.thumbnails li.thumbnail a img {
  width:75px;
  height:75px;
}