#weekGalleries {
  width:19240px;
}

#weekGalleries ul.thumbnails {
  float:left;
  width:360px;
  margin-left:0px;
  border-left:1px solid #CCCCCC;
}

#weekGalleries ul.thumbnails li.chart {
  margin:0;
  width:360px;
  height:280px;
}

#weekGalleries ul.thumbnails li.thumbnail {
  margin: 0 0 8px 10px;
}

#weekGalleries ul.thumbnails li.thumbnail a img {
  width:75px;
  height:75px;
}


.weekChart {
  width:360px;
  height:280px;
}