body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

svg {
  shape-rendering: crispEdges;

}

#dahliaModal {
  display:none;
  padding:4px;
}