body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

svg {
  shape-rendering: crispEdges;

}

#colorModal {
  /*display:none;*/
  width:865px;
  padding:4px;
}

#colorModal #imageCanvas, #colorModal #smallChart{
  position:absolute;
}

#colorModal #imageCanvas {
  top:4px;
  left:4px;
}

#colorModal #smallChart {
  bottom:4px;
  right:4px;
}
