body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

svg {
  shape-rendering: crispEdges;

}

#dahliaTitle {
  font-family:Baskerville;
  font-size:72px;
  line-height:72px;
}

#description {
  font-size: 24px;
  line-height: 24px;
}

#allDahliasChart {
  width:720px;
  height:380px;
}

#colorModal {
  /*display:none;*/
  width:865px;
  padding:4px;
}

#colorModal #imageCanvas, #colorModal #smallChart{
  position:absolute;
}

#colorModal #imageCanvas {
  top:4px;
  left:4px;
}

#colorModal #smallChart {
  bottom:4px;
  right:4px;
  height:380px;
  width:360px;
}
